<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceManagement"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPw"
            android:exported="false" />
        <activity
            android:name=".admin_files.login.AdminSignup"
            android:exported="false" />
        <activity
            android:name=".teacher_files.TeacherLogin"
            android:exported="false" />
        <activity
            android:name=".admin_files.login.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".LoginAs"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacher_files.profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".admin_files.profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".teacher_files.attendance.DownloadAttendance"
            android:exported="false" />
        <activity
            android:name=".teacher_files.attendance.ViewAttendance"
            android:exported="false" />
        <activity
            android:name=".teacher_files.take_attendance.TakeAttendance"
            android:exported="false" />
        <activity
            android:name=".teacher_files.classroom.Classrooms"
            android:exported="false" />
        <activity
            android:name=".teacher_files.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".admin_files.attendance.DownloadAttendance"
            android:exported="false" />
        <activity
            android:name=".admin_files.classroom.ViewClassrooms"
            android:exported="false" />
        <activity
            android:name=".admin_files.attendance.ViewAttendance"
            android:exported="false" />
        <activity
            android:name=".admin_files.students.AddStudents"
            android:exported="false" />
        <activity
            android:name=".teacher_files.Homepage"
            android:exported="false" />
        <activity
            android:name=".admin_files.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".admin_files.faculty.Faculty"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin_files.Homepage"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AttendanceManagement" />
    </application>

</manifest>